MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DATABASE_NAME=school_management
SAVE_SAMPLE_USERS=false
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SAVE_API_USERS=true
SAVE_API_NOTICES=true
